<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все машины</title>
</head>
<body>

  <h3>Список всех транспортных средств</h3>
      <div th:each="car : ${cars}">
          <div>
              <span>Vin</span>
              <a th:href="@{/{id}(id=${car.getId()})}" th:text="${car.getVinNumber}">vin car</a>

              <span>Brand</span>
              <span th:text="${car.getBrand}">brand car</span>

              <span>Models</span>
              <span th:text="${car.getModels}">models car</span>

              <a th:href="@{carUpdate/{id}(id=${car.id})}">Изменить</a>
              <a th:href="@{carDelete/{id}(id=${car.id})}">Удалить</a>

          </div>
      </div>

<div>
    <a href="/carAdd">Добавление авто</a>
</div>
  </body>
  </html>