<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все машины</title>
</head>
<body>

<form method="post">
    <!--   <label id="vinNumber">Vin номер авто</label> -->
    <input type="text" name="vinNumber" placeholder="Введите vin номер" />
    <!--    <label id="brand">Производитель</label> -->
    <input type="text" name="brand" placeholder="Введите Бренд" />
    <!--    <label id="modelss">Марка</label> -->
    <input type="text" name="modelss" placeholder="Введите Марку" />
    <button type="submit">Добавить</button>
  </form>

  <h3>Список всех транспортных средств</h3>
      <div th:each="car : ${cars}">
          <div>
              <span>Vin</span>
              <a th:text="${car.getVinNumber}">vin car</a>

              <span>Brand</span>
              <a th:text="${car.getBrand}">vin car</a>

              <span>Modelss</span>
              <a th:text="${car.getModelss}">vin car</a>
          </div>
      </div>
  </body>
  </html>