<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/CarAdd}" th:object="${car}" method="post">
    <!--   <label id="vinNumber">Vin номер авто</label> -->
    <input type="text" name="vinNumber" placeholder="Введите vin номер" />
    <!--    <label id="brand">Производитель</label> -->
    <input type="text" name="brand" placeholder="Введите Бренд" />
    <!--    <label id="models">Марка</label> -->
    <input type="text" name="models" placeholder="Введите Марку" />
    <!--    <label id="color">color</label> -->
    <input type="text" name="color" placeholder="Введите цвет" />
    <!--    <label id="countDoor">countDoor</label> -->
    <input type="text" name="countDoor" placeholder="Введите кол-во дверей" />
    <button type="submit">Добавить</button>
</form>

</body>
</html>