<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/carUpdate}" th:object="${car}" method="POST">
    <label for="vinNumber">vinNumber</label>
    <input type="text" th:field="*{vinNumber}" id="vinNumber" placeholder="vinNumber" />

    <label for="brand">brand</label>
    <input type="text" th:field="*{brand}" id="brand" placeholder="brand" />

    <label for="models">models</label>
    <input type="text" th:field="*{models}" id="models" placeholder="models" />

    <label for="color">color</label>
    <input type="text" th:field="*{color}" id="color" placeholder="color" />

    <label for="countDoor">countDoor</label>
    <input type="text" th:field="*{countDoor}" id="countDoor" placeholder="countDoor" />

    <button type="submit">изменить</button>
</form>

</body>
</html>